*~
*.pyc
*.swp

# NFS artifacts and core dumps
.nfs*
core.*

loki.egg-info/*
.eggs/*
.cache/*
.pytest_cache/*
.dacecache/*
/build
/artifacts

# Installation artifacts
loki_env/*
loki-activate

# Docs
docs/build
docs/source/loki.*rst
docs/source/scripts.*rst
docs/source/loki-*.rst
docs/source/raps_deps.rst
docs/source/transformations.*

# notebooks
example/.ipynb_checkpoints
example/my_module.F90
.DS_Store
