numpy
click
toml
networkx
graphviz
fastcache
cached-property
coloredlogs
tqdm
pymbolic

# Some dependencies require specific dev branches
-e git+https://github.com/mlange05/open-fortran-parser-xml@mlange05-dev#egg=open-fortran-parser
git+https://github.com/jameskermode/f90wrap.git
git+https://github.com/reuterbal/fparser.git@loki_integration

# Fore tests
pytest
pytest-cov
coverage2clover
pylint
