numpy
pytest
click
toml
networkx
graphviz
fastcache
cached-property
coloredlogs
tqdm

# Some dependencies require specific dev branches
git+https://github.com/mlange05/open-fortran-parser-xml@mlange05-dev
git+https://github.com/jameskermode/f90wrap.git@py3
git+https://github.com/sympy/sympy.git
