[default]
# Specifies the behaviour of auto-expanded routines
role = 'kernel'
expand = true  # Automatically expand subroutine calls
strict = true  # Throw exceptions during dicovery

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.
# TODO: Add type-bound procedure support and adjust scheduler to it
disable = ['timer%start', 'timer%end', 'timer%thread_start', 'timer%thread_end',
           'timer%thread_log', 'timer%thread_log', 'timer%print_performance']

# Define entry point for call-tree transformation
[[routine]]
name = 'test_driver'
role = 'driver'
expand = true

[[dimension]]
name = 'horizontal'
size = 'KLON'
index = 'JL'
bounds = ['KIDIA', 'KFDIA']
aliases = ['NPROMA', 'KDIM%KLON']

[[dimension]]
name = 'vertical'
size = 'KLEV'
index = 'JK'

[[dimension]]
name = 'block_dim'
size = 'NGPBLKS'
index = 'IBL'
