[default]
# Specifies the behaviour of auto-expanded routines
mode = 'test'
role = 'kernel'
expand = true

# Forces exceptions to be thrown during processing
strict = true

# The list files to exclude from the tree. During development this is
# usually used to exclude files we cannot yet process.
blocked = ['compute_l2']

[[routine]]
name = 'compute_l1'
role = 'driver'
expand = true

[[routine]]
name = 'another_l1'
role = 'driver'
expand = true
